<header class="d-flex justify-content-center py-3">
  <div>
    <img src="/assets/zakkuri" alt=""><br>
    <h1>第二回ざっくり３０秒踊ってみた投稿祭</h1>
  </div>
</header>
<div class="d-flex justify-content-center">
  <div class="py-3  w-50">
    <div class="row">
      <div class="col-4">投稿期間：</div>
      <div class="col-5">2024/07/20 00:00 - 2024/07/23 12:00</div>
    </div>
    <div class="row">
      <div class="col-4">投稿作品を眺める生放送：</div>
      <div class="col-5">2024/07/23 19:00</div>
    </div>
    <br>
  </div>
</div>

<section class="mt-1 w-100">
  <h3>地面にめり込むほどハードルの低い投稿祭を</h3>
  <div class="row">
    <div class="card">
      <div class="card-body">
        サビだけ、ワンフレーズだけなど。<br>
        凝った編集がなくても、すごい技術がなくても、楽しんだら勝ちです。<br>
        ざっくりふんわり、ゆるくやりましょう。<br>
        軽い気持ちで投稿していただければ。私が見ます
      </div>
    </div>
  </div>
</section>

<section class="mt-1 w-100">
  <h3>レギュレーション</h3>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <ul>
          <li>「踊ってみた」「ざっくり30秒踊ってみた」タグのロックをお願いします</li>
          <li>動画時間は0秒から１分くらい</li>
          <li>特に審査とかはない</li>
          <li>目に見えるメリットとかはないですが、コメントをつけて紹介させていただきます</li>
          <li>一応、踊ってください。（音楽に合わせて動く感じで）</li>
          <li>概要欄での言いくるめはありです。<br>
            ex.) （微動だにせずに）私は動いていません。ですが世界は動いています。変化し続ける世界への問題提起、これこそが芸術の目指すところではないでしょうか？<br>
            ex.) （金星の動きを早送りで流して）本人が踊る必要があるとは書いてありませんでした。何よりも自然の見せるこの瞬間こそを私は重んじたいのです。<br>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
問い合わせ先：ぬみゃにゃーみゃーうみみゃぁ<br>
<%= link_to('X(Twitter)', 'https://twitter.com/shumyemyenmyo') %><br>
<%= link_to('Fedibird', 'https://fedibird.com/@nyumyanyamumya') %><br>
<%= link_to('Bluesky', 'https://bsky.app/profile/nyumyanyamyumya.bsky.social') %><br>
<%= link_to('Threads', 'https://www.threads.net/@nyumyanyamyumya') %><br>
<%= link_to('misskey.io', 'https://misskey.io/@nyumyanyamyumya') %>
